---
import Logo from "../icons/logo.astro";
import MainButton from "./MainButton.astro";
import { HeaderMenu } from "./HeaderMenu.tsx";
---

<header
  class="fixed top-0 left-0 right-0 w-full h-16 flex items-center justify-between px-4 bg-white border-b border-zinc-300"
>
  <picture>
    <a href="/">
      <Logo />
    </a>
  </picture>
  <div class="flex items-center gap-5">
    <MainButton text="Obtener Notion Gratis" href="/" />
    <HeaderMenu client:visible />
  </div>
</header>
