---

---

<article class="w-full h-65">
  <h1 class="text-center text-zinc-500 text-md pt-5">
    Con la confianza de los mejores equipos
  </h1>
  <div class="flex gap-5 justify-center items-center flex-wrap pt-5">
    <img
      src="/img/logos/OpenAI-black-wordmark-cropped.png"
      alt="OpenAI logo"
      class="w-20"
    />
    <img src="/img/logos/Figma-logo-color.svg" alt="Figma logo" class="w-24" />
    <img src="/img/logos/volvo.png" alt="Volvo logo" class="w-24" />
    <img src="/img/logos/ramp.png" alt="Ramp logo" class="w-24" />
    <img src="/img/logos/cursor.png" alt="cursor logo" class="w-24" />
  </div>
</article>
